* {
    margin: 0;
    padding: 0;
}

body{
    /* real color */
    /* background-color: #f5f5f7; */
    background-color: black;
}

.header {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    color:#323232;
    background-color: white;
    gap: 34px;
    padding: 12px 0 12px 0;
}

.icon {
    font-size: medium;;
}

.option{
    padding: 3px 0 0 0;
}

     /* hero-section */



