* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    padding-top: 42px;
}


.header {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #323232;
    background-color: rgb(255, 253, 253);
    gap: 34px;
    padding: 12px 0 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.icon {
    font-size: medium;
    ;
}

.option {
    padding: 3px 0 0 0;
}

/* hero-section */

.hero-section {
    background-image: url(./assets/mob.jpeg);
    background-size: cover;
    width: 100%;
    height: 520px;

}

.hero-section h1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    text-align: center;
    padding-top: 40px;
    opacity: 0.85;

}

.hero-section h3 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: x-large;
    opacity: 0.83;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

button {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    color: white;
    height: 40px;
    width: 125px;
    border-radius: 50px;
    border: 1px solid #0077ed;
}

.btn-1 {
    background-color: #0077ed;
}

.btn-2 {
    color: #0077ed;
}

.btn-2:hover {
    background-color: #0077ed;
    color: white;
}

/* img-2 */

.img-2 {
    background-image: url(./assets/airpod.jpeg);
    background-size: cover;
    width: 100%;
    height: 520px;
    margin-top: 10px;
}

.img-2 h1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    text-align: center;
    padding-top: 40px;
    opacity: 0.85;

}

.img-2 h3 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: x-large;
    opacity: 0.83;

}

.img_2-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.button-1 {
    background-color: #0077ed;
    margin-left: 20px;
}

.button-2 {
    width: 70px;
    color: #0077ed;
}

/* image-3 */

.img-3 {
    margin-top: 10px;
    background-image: url(./assets/watches.jpeg);
    background-size: cover;
    width: 100%;
    height: 520px;
    background-position: center;
}

.heading {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.series-11 {
    font-weight: lighter;
}

.img-3 h1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    text-align: center;
    padding-top: 40px;
    opacity: 0.83;
}

.img-3 h3 {
    margin-top: 8px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: x-large;
    opacity: 0.83;
}

.img_3-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

/* hero-section-combine-images-1 */

.parent {
    height: 540px;
    background-color: blue;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.small-box-1 {
    margin: 10px 5px 10px 10px;
    /* margin: auto; */
    
    padding-left: 10px;
    background-color: gray;
    height: 520px;
    width: 492px;
}

.small-box-2 {
    /* margin: 10px 10px 10px 5px; */
    /* margin: auto; */
    background-color: yellow;
    height: 520px;
    width: 492px;
}