* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 41px;
}

.header {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #323232;
    background-color: rgb(255, 253, 253);
    gap: 34px;
    padding: 12px 0 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0.9;
}

.last-icon {
    display: none;
}

.icon {
    font-size: medium;
}

.option {
    padding: 3px 0 0 0;
}

/* hero-section */

/* image-1 */

.hero-section {
    background-image: url(./assets/mob.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 520px;
}

h1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    text-align: center;
    padding-top: 40px;
    opacity: 0.87;
}

h3 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: x-large;
    opacity: 0.87;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

button {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    color: white;
    height: 40px;
    width: 125px;
    border-radius: 50px;
    border: 1px solid #0077ed;
}

.btn-1 {
    background-color: #0077ed;
}

.btn-2 {
    color: #0077ed;
}

.btn-2:hover {
    background-color: #0077ed;
    color: white;
}


/* image-2 */

.img-2 {
    margin-top: 10px;
    background-image: url(./assets/watches.jpeg);
    background-size: cover;
    width: 100%;
    height: 520px;
    background-position: center;
}

.heading {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.img_2-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.button-1 {
    background-color: #0077ed;
    margin-left: 20px;
}

.button-2 {
    width: 70px;
    color: #0077ed;
}


.series-11 {
    font-weight: lighter;
}

/* image-3 */

.img-3 {
    background-image: url(./assets/tablets.jpeg);
    background-size: cover;
    width: 100%;
    height: 520px;
    margin-top: 10px;
    background-position: center;
}

/* hero-section-combine-images-1 */

.combine {
    height: 35px;
    width: 90px;
    font-size: 13px;
}

.combine-2 {
    height: 35px;
    font-size: 13px;
}

.est {
    height: 35px;
    font-size: 13px;
}

.S1-p {
    font-weight: lighter;
    font-size: 12px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 10px;
    opacity: 0.5;
}

.bottom h1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 35px;
    padding-top: 40px;
    opacity: 0.87;
}

.bottom h3 {
    margin-top: 8px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    opacity: 0.87;
}

.parent-1 {
    height: 540px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.small-box-1 {
    background-image: url(./assets/promo_apple_fitness_.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px 2px 10px 10px;
    height: 520px;
    width: 492px;
}

.small-box-2 {
    background-image: url(./assets/promo_macbook_.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px 10px 10px 2px;
    height: 520px;
    width: 492px;
    color: white;
}

.parent-2 {
    height: 530px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.small-box-3 {
    background-image: url(./assets/promo_apple_watch_ultra3_.jpg);
    background-position: center;
    background-size: cover;
    margin: 0px 2px 0px 10px;
    /* padding-left: 10px;   */
    height: 520px;
    width: 492px;
    color: white;
}

.small-box-4 {
    background-image: url(./assets/airpod.jpeg);
    background-position: center;
    background-size: cover;
    margin: 0px 10px 0px 2px;
    height: 520px;
    width: 492px;
}

.parent-3 {
    height: 530px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.small-box-5 {
    background-image: url(./assets/iphone.jpeg);
    background-position: center;
    background-size: cover;
    margin: 0px 2px 0px 10px;
    /* padding-left: 10px;   */
    height: 520px;
    width: 492px;
}

.box_5-btn {
    background-color: #0077ed;
    color: white;
    font-size: 12px;
}

.small-box-6 {
    background-image: url(./assets/card.jpeg);
    background-position: center;
    background-size: cover;
    margin: 0px 10px 0px 2px;
    height: 520px;
    width: 492px;
}

/* footer */

footer {
    background-color: #1d1d1f;
}

.para {
    margin: 0 65px 0 65px;
    text-align: justify;
    color: #959597;
    font-size: 12px;
    background-color: #1d1d1f;
    border-bottom: 1px solid #959597;
}

.last-para {
    padding-bottom: 20px;
}

.para p {
    padding-top: 10px;

}

.footer-desktop li {
    color: #cbcbcb;
    list-style-type: none;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    padding-bottom: 10px;
}

.another-li {
    padding-top: 15px;
}

h6 {
    color: #cbcbcb;
    font-weight: 800;
    font-size: 11px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.footer-desktop {
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    background-color: #1d1d1f;
    color: white;
}

/* last div */

.last-div {
    height: 100px;
    width: 100%;
    background-color: #1d1d1f;
    color: #8a8a8b;
    font-weight: bold;
    font-size: 11px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div a {
    color: #2681d7;
}

.p1 {
    padding: 20px 0 20px 65px;
    border-bottom: 1px solid #5f5f60;
}

.p2 {
    padding: 20px 0 0 65px;

}

.p2 span {
    font-weight: bold;
    color: rgb(233, 231, 231);
    border-left: 1px solid #5f5f60;
    margin-left: 5px;
    padding-left: 5px;
}

.right {
    display: flex;
    gap: 34px;
}

.mob-h3 {
    display: none;
}

.mob-footer {
    display: none;
    padding: 20px 10px 0 10px;
}

.mob-footer h6 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #8a8a8b;
}

/* mobile */

@media (min-width: 0) and (max-width: 767px) {

    .mob-h3 {
        display: block;
    }

    .desk-h3 {
        display: none;
    }

    .option {
        display: none;
    }

    .last-icon {
        display: block;
        padding-right: 10px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        padding-top: 30px;
        opacity: 0.87;
    }

    h3 {
        padding-top: 10px;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 18px;
        opacity: 0.87;
    }

    .icon-1 {
        padding-left: 10px;
    }

    .hero-section {
        background-image: url(./mob-assets/small\ hero.jpg);
        background-size: cover;
        width: 100%;
        height: 520px;
        background-position: center;
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .img-2 {
        background-image: url(./mob-assets/hero_apple_watch_ny__c8f1tzaoa72a_small_2x.jpg);
        margin-top: 10px;
        width: 100%;
        height: 520px;
        background-size: cover;
        background-position: center;

    }

    .img-3 {
        background-image: url(./mob-assets/hero_ipad_air_avail__c34ycq52exg2_small_2x.jpg);
        background-size: cover;
        width: 100%;
        height: 520px;
        margin-top: 10px;
        background-position: center;
        margin-bottom: 10px;
    }

    .parent-1 {
        height: 1040px;
        display: flex;
        flex-direction: column;
    }

    .small-box-1 {
        background-image: url(./assets/promo_apple_fitness_.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        margin: 0 0 0 0;
        gap: 10px;
    }

    .small-box-2 {
        background-image: url(./mob-assets/promo_macbook_pro_m5__gnwzdhijhm6a_small_2x.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        color: white;
        margin: 0 0 0 0;
    }

    .parent-2 {
        height: 1040px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .small-box-3 {
        background-image: url(./assets/promo_apple_watch_ultra3_.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        color: white;
        margin: 0 0 0 0;
    }


    .small-box-4 {
        background-image: url(./assets/airpod.jpeg);
        background-position: center;
        background-size: cover;
        width: 100%;
        margin: 0 0 0 0;
    }

    .parent-3 {
        height: 1040px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .small-box-5 {
        background-image: url(./assets/iphone.jpeg);
        background-position: center;
        background-size: cover;
        margin: 0 0 0 0;
        width: 100%;
    }

    .small-box-6 {
        background-image: url(./assets/card.jpeg);
        background-position: center;
        background-size: cover;
        margin: 0 0 0 0;
        width: 100%;
    }

    /* footer */

    .para {
        margin: 0 15px 0 15px;
        text-align: justify;
        color: #959597;
        font-size: 12px;
        background-color: #1d1d1f;
        border-bottom: 1px solid #959597;
    }

    .footer-desktop {
        display: none;
    }

    .mob-footer {
        display: block;
    }

    .last-div .p1 {
        padding: 15px 0 0 10px;
        border: none;
        font-size: 12px;
    }

    .last-div .p2 {
        padding-left: 10px;
    }
}