* {
    margin: 0;
    padding: 0;
}

body {
    /* real color */
    /* background-color: #f5f5f7; */
    background-color: black;
}

.header {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #323232;
    background-color: white;
    gap: 34px;
    padding: 12px 0 12px 0;
}

.icon {
    font-size: medium;
    ;
}

.option {
    padding: 3px 0 0 0;
}

/* hero-section */

.hero-section {
    background-image: url(./assets/mob.jpeg);
    background-size: cover;
    width: 100%;
    height: 520px;
}

.hero-section h1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    text-align: center;
    padding-top: 40px;

}

.hero-section h3 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: x-large;
}

.hero-section button {


}